/* Import Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #02ccfe;
  --color-primary-20: #02a3fe;
  --color-primary-40: #017afe;
  --color-secondary: #ff02fa;
  --color-secondary-20: #cc02fb;
  --color-secondary-40: #9901fc;
  --font-roboto: "Roboto", sans-serif;
}